.form {
    width: 50vw;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 50%;
}

.hidden {
    transform: translateX(-50%) translateY(100%);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.show {
    transform: translateX(-50%) translateY(0%);
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
