.container {
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 12px;
    border: 1px dashed #dadce0;
    background: #f6f8fa;

    p {
        align-self: stretch;
        color: #1c4980;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

.addAssessment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .addBtn {
        cursor: pointer;
        display: flex;
        width: 50px;
        height: 50px;
        padding: 7.143px;
        justify-content: center;
        align-items: center;
        gap: 7.143px;
        border-radius: 51.429px;
        background: #fff;

        img {
            width: 28.571px;
            height: 28.571px;
            flex-shrink: 0;
        }
    }

    p {
        color: #1c4980;
        text-align: center;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

@media (min-width: 768px) {
    .container {
        flex: 1 1 0;
    }
}
